body {
    font-size: 15pt;
}
#bt {
    color: #fff;
    background: black;
    border: #fff solid 1px;
    font-size: 50px;
    text-align: center;
    border-radius: 20% 1%;
    box-shadow: 10px 10px 20px #000;
}

img {
    visibility: hidden;
}